<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">About Us</h2>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <section class="section-padding">
        <div class="container">
            <div class="row showcase-section">
                <div class="col-md-6">
                    <img src="~/img/dev1.png" alt="showcase image">
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <h3>NOTE DE RENSEIGNEMENTS</h3>
                        <p>Dans le cadre de la dématérialisation des procédures, l’Agence Urbaine de Casablanca a lancé, au cours de l’année 2015, la première plateforme électronique au Maroc, ‘’e-auc.org’’ pour la gestion du processus de la demande, du paiement en ligne, de la génération automatique et la délivrance en ligne des notes de renseignements. Le but de cette initiative est de faire usage de la nouvelle technologie, afin de garantir le droit d’accès large et facile à l’information urbanistique..</p>
                        <p>Ce service permet l’édition automatique et gratuite de la note de renseignements. L’Agence Urbaine de Casablanca délivre à toute personne qui en fait la demande, une note de renseignements urbanistiques dite « indicative », précisant l’utilisation qui peut être faite d’une propriété foncière en application des documents d’urbanisme en vigueur, en plus de la possibilité offerte au pétitionnaire de se voir délivrer une « Note de Renseignements » officielle, portant une signature électronique.</p>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">

        <div class="about">


            <div class="row">
                <div class="col-md-6">
                    <!-- Heading and para -->
                    <div class="block-heading-two">
                        <h3><span>DOCUMENTS À FOURNIR POUR LA DÉLIVRANCE</span></h3>

                    </div>
                    <p>Pièce d’identité du propriétaire</p>
                    <p>	Certificat de propriété du terrain concerné</p>
                    <p>Plan cadastral visé par le service du cadastree</p>
                    <p>Accord du propriétaire et pièce d’identité du demandeur</p>

                </div>
                <div class="col-md-6">
                    <div><p></p>	</div>
                    <!-- Accordion starts -->
                    <div class="panel-group" id="accordion-alt3">
                        <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
                        <div class="panel">
                            <!-- Panel heading -->
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
                                        <i class="fa fa-angle-right"></i>MONTANT DE LA RÉMUNÉRATION
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne-alt3" class="panel-collapse collapse">
                                <!-- Panel body -->
                                <div class="panel-body">
                                    <p>* 450,00 dhs TTC : Dépôt et retrait en ligne e-auc.org</p>
                                    <p>* La note de renseignements urbanistique est délivrée par l’Agence Urbaine dans un délai de 48h.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                                        <i class="fa fa-angle-right"></i> MODALITÉS DE PAIEMENT
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo-alt3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    * En ligne via le site web: e-auc.org
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
                                        <i class="fa fa-angle-right"></i> COMMENT DEMANDER VOTRE NOTE DE RENSEIGNEMENTS ÉLECTRONIQUE
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree-alt3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>* Accélération du traitement de la demande</p>
                                    <p>* Remplissez le formulaire de demande de la note de renseignements</p>
                                    <p>*Choisissez le mode de paiement</p>
                                    <p>*Suivez en ligne le processus de traitement de la demande</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Accordion ends -->

                </div>

            </div>

            <!-- Our team ends -->

        </div>

    </div>
</section>