
<section id="banner">

    <!-- Slider -->

    <img height="510" src="~/img/slides/1.jpg" />

    <div class="flex-caption">
        <h3>NOTE DE RENSEIGNEMENTS<br /></h3>
        <p><strong>l’Agence Urbaine de Casablanca <br /><br />DAR BOUAAZZA</strong></p>

    </div>

</section>
<section id="banner">

    <!-- Slider -->
    <div id="main-slider" class="flexslider">
        <ul class="slides">
            <li>
                <img src="~/img/slides/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>NOTE DE RENSEIGNEMENTS</h3>
                    <p>l’Agence Urbaine de Casablanca</p>

                </div>
            </li>
            <li>
                <img src="~/img/slides/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>NOTE DE RENSEIGNEMENTS</h3>
                    <p>l’Agence Urbaine de Casablanca</p>

                </div>
            </li>
        </ul>
    </div>
    <!-- end slider -->

</section>
<section id="content">


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aligncenter">
                    <h2 class="aligncenter"> Services</h2>
                    Dans le cadre de la dématérialisation des procédures, l’Agence Urbaine de Casablanca a lancé, au cours de l’année 2015<br />
                    la première plateforme électronique au Maroc, ‘’e-auc.org’’ pour la gestion du processus de la demande, du paiement en ligne<br />
                    de la génération automatique et la délivrance en ligne des notes de renseignements. Le but de cette initiative est de faire usage <br />
                    de la nouvelle technologie, afin de garantir le droit d’accès large et facile à l’information urbanistique...
                </div>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="skill-home">
                <div class="skill-home-solid clearfix">
                    <div class="col-md-6 text-center">
                        <a href="@Url.Action("carte", "NRs")">
                            <span class="icons c2"><i class="fa fa-users"></i></span>
                        </a>

                          <div class="box-area">

                                <h3>
                                Public
                                </h3>


                                <p>C'est l'espace ouvert au grand public</p>
                            </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <a href="@Url.Action("Index", "NRs")">
                            <span class="icons c2"><i class="fa fa-users"></i></span></a>
                        <div class="box-area">

                            <h3>
                               Administrateur 
                            </h3>
                            
                            <p>C'est l'espace des fonctionnaires de l'agence urbaine </p>
                        </div>
</div>

                </div>


            </div>
        </div>
    </div>
</section>